
<div class="row">
  <div class="col-lg-3" style="margin-top: 20px;">
    <%=h render 'partials/userInfo' %>
  </div>
  <div class="col-lg-9">
    <h3 style="padding-left: 15px;">Select users to follow:</h3>
    <% for user in @users %>
        <% if user.id != @user.id %>
            <div class="col-xs-4">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <%=h user.email %>
                </div>
                <div class="panel-body">
                  <%=h user.first_name %> <%=h user.last_name %>
                  <%= link_to raw('<div class="pull-right"><i class="fa fa-eye"></i> Follow</div>'), :controller => :friendships, :action => :create, :friend_id => user.id %>
                </div>
              </div>
            </div>
        <%end%>
    <% end %>
  </div>
</div>

