<div class="row">
  <div class="col-md-3">
    <p>Place Holder Column</p>
    <%= link_to 'Logout', destroy_user_session_path,:method =>:delete %>
  </div>
  <div class="col-md-9">
    <p><%= link_to "Find Friends", :controller => :friendships, :action => :index %></p>

<h2>News Feed</h2>
<%= link_to "Shout", :controller => :posts, :action => :new%> |
<%= link_to "See what you've shouted recently", :controller => :posts, :action => :show%>
<br/>
<ul>
    <% if @shouts.length == 0 %>
        <p>No one you're following has shoutted anything</p>
    <% else %>
        <% for shout in @shouts %>
            <li>
                <% @shoutter =  User.find(shout.user_id) %>
                At <%=h shout.updated_at %>, <%=h @shoutter.first_name%> <%=h @shoutter.last_name%> shouted
                <%= link_to "*", :controller => :posts, :action => :favorite , :post_id => shout.id %>
              <br/>
                <%=h shout.post_text %>
              <br/>
                Favorited by <%=h shout.favorites %> users.
            </li>
        <% end %>
    <% end %>

</ul>

<h2>Following:</h2>
<ul>

  <% if @friendships.length == 0 %>
      <p>Not following anyone</p>
  <% else %>

      <% for friendship in @friendships %>
          <%if friendship.approved %>
            <li>
                <%=h friendship.friend.email %>
                <%= link_to "Stop following", :controller => :friendships, :action => :destroy, :friend_id => friendship.id %>
                <a href="">TODO: add link to block</a>
            </li>
        <% end %>
      <% end %>

  <% end %>
</ul>

<h2>Pending Follow Requests:</h2>
<ul>

  <% if @user.friendships.length == 0 %>
      <p>No pending requests</p>
  <% else %>

      <% for friendship in @user.friendships %>
          <%if !friendship.approved %>
              <li>
                <%=h friendship.friend.first_name %> <%=h friendship.friend.last_name %>
                <%= link_to "Delete request", :controller => :friendships, :action => :destroy, :friend_id => friendship.id %>
                  <a href="">TODO: add link to block</a>
              </li>
        <% end %>
      <% end %>

  <% end %>
</ul>


<h2>Followed by Users:</h2>
<ul>
  <% for inverse_friendship in @user.inverse_friendships %>
    <li><%=h inverse_friendship.user.first_name %> <%=h inverse_friendship.user.last_name %>
      <%if !inverse_friendship.approved %>
          <%= link_to "Approve Follower", :controller => :friendships, :action => :approve, :friend_id => inverse_friendship.id %>
      <% else %>
          <%= link_to "Remove Follower", :controller => :friendships, :action => :disapprove, :friend_id => inverse_friendship.id %>
      <% end %>
      <a href="">TODO: add link to follow if not already</a>
    </li>
  <% end %>
</ul>
