<div class="row">
  <div class="col-md-3">
    <%=h render 'partials/userInfo' %>
  </div>
  <div class="col-md-6" id="feed">

    <div id="new-post">
      <%=form_for :post, :url=>{:controller => :posts, :action=>"create"} do |f|%>
          <div class="form-group">
            <%=f.text_area :post_text, :placeholder => "Enter your SHOUT here!", :class => "form-control" %><br/>
            <%=submit_tag "Shout it!", :class => "btn btn-md btn-success pull-right" %>
            <br/>
          </div>
          <div class="form-group">

          </div>
      <%end%>
    </div>

    <% if @user.is_admin %>
        <%= render 'partials/reported' %>
    <% end %>

    <div id="news-feed">
      <%= render 'partials/posts' %>
    </div>
  </div>
</div>