<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Test
      </div>
        <div class="panel-footer">
          <%= link_to :controller => :friendships, :action => :followers do%>Followers:<%= @friendships.length%><%end%><br />
          <%= link_to :controller => :friendships, :action => :followed_by do%>Followed By:<%= @friendships.length%><%end%><br />
          <span>Posts: <%= @shouts.length %></span>
          <p><%= link_to "Find Friends", :controller => :friendships, :action => :index %></p>
          <div class="clearfix"></div>
        </div>
    </div>

  </div>
  <div class="col-md-6" id="feed">

    <div id="new-post">
      <%=form_for :post, :url=>{:controller => :posts, :action=>"create"} do |f|%>
          <div class="form-group">
            <%=f.text_area :post_text, :class => "form-control" %><br/>
          </div>
          <div class="form-group">
            <%=submit_tag "Shout it!", :class => "btn btn-md btn-success pull-right" %>
          </div>
      <%end%>
    </div>
    <div id="news-feed">
      <hr />
      <%= link_to "See what you've shouted recently", :controller => :posts, :action => :show%>
      <br/>

      <ul>
        <% if @shouts.length == 0 %>
            <p>No one you're following has shoutted anything</p>
        <% else %>
            <% for shout in @shouts %>
                <li>
                  <% @shoutter =  User.find(shout.user_id) %>
                  At <%=h shout.updated_at %>, <%=h @shoutter.first_name%> <%=h @shoutter.last_name%> shouted
                  <%= link_to "*", :controller => :posts, :action => :favorite , :post_id => shout.id %>
                  <br/>
                  <%=h shout.post_text %>
                  <br/>

                </li>

            <% end %>
        <% end %>

      </ul>

    </div>
  </div>
</div>